/*@media screen and (min-width: 500px) {
	
}
*/

body, h1, h2, ul {
	margin: 0;
	padding: 0;
}

body {
	font-family: helvetica, arial, sans-serif;
}

#container {
	width: 800px;
	margin: 0 auto;
}

main {
	background-image: url("flowershop.jpg");

	background-size: 100% 100%;
	height: 500px;
	text-align: center;
}

main:after {
	opacity: 0.5;
	background-color: rgba(0, 0, 0, 0.7);
}

main h2 {
	color: #fff;
	text-align: center;
	padding-top: 200px;
	font-size: 3em;

}

a.button {
	background-color: green;
	display: inline-block;
	margin-top: 30px;
	padding: 10px;
	text-align: center;
	border-radius: 50px;
	color: #fff;
	text-decoration: none;
}



footer {
	background-color: #bfff94;
	padding-bottom: 30px;
}

.icon li {
	box-sizing: border-box;
	display: inline-block;
	width: 49%;
	list-style: none;
	padding: 50px 50px 50px 150px;
}

#flower {
	background: url("flower-icon.png") 80px 40px no-repeat;
	background-size: 50px;
}

#money {
	background: url("payment-icon.png") 80px 40px no-repeat;
	background-size: 50px;
}

#consultation {
	background: url("phone-icon.png") 80px 40px no-repeat;
	background-size: 50px;
}

#delivery {
	background: url("truck-icon.png") 80px 40px no-repeat;
	background-size: 50px;
}
